.w-30 {
    width: 30%;
}

.action-btns {
    color: red;
}

.text-bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.pwr-icon {
    color: yellowgreen;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
