.w-30 {
    width: 30%;
}

.action-btns {
    color: red;
}

.text-bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.pwr-icon {
    color: yellowgreen;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-1 {
    border: .8px solid;
}

.br-100 {
    border-radius: 100%;
}

.br-5 {
    border-radius: 5px;
}

.fs-20 {
    font-size: 20px;
}

.fs-10 {
    font-size: 10px;
}

.fs-5 {
    font-size: 5px;
}

.font-sm {
    font-size: .5em;
}

.gap-3 {
    gap: 3rem !important;
}

.fs-2 {
    font-size: 2px;
}

.order-details {
    display: flex;
    justify-content: space-between;
}

.horizontal-timeline .items {
    border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
}

.horizontal-timeline .items .items-list {
    padding-top: 15px;
}

/* .company-info {
    flex-direction: column;
} */

.company-info>p {
    margin-bottom: 0px;
    margin-right: 2rem;
    font-size: .8em;
}
